<nav class="navbar is-link" role="navigation" aria-label="guest navigation">
    <div class="navbar-brand">
        <a class="navbar-item" href="/">
            <span class="icon">
                <i class="fad fa-trees"></i>
            </span>
            <span class="pl-1">Forest</span>
        </a>

        <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="guestNavbar">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
        </a>
    </div>

    <div id="guestNavbar" class="navbar-menu">
        <div class="navbar-start">
            <!-- Left -->
        </div>
        <div class="navbar-end">
            <!-- Right -->
        </div>
    </div>
</nav>