<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}{% endblock %} - Forest</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/all.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/bulma.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forest.css') }}">
</head>
<body>
{% if g.person %}
    {% include 'navigation/main_nav.html' %}
{% else %}
    {% include 'navigation/guest_nav.html' %}
{% endif %}
{% block content %}{% endblock %}
<script src="{{ url_for('static', filename='js/umbrella.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/forest.js') }}"></script>
{% block code %}{% endblock %}
</body>
</html>